wifi_ssid: "YOUR_WIFI_SSID"
wifi_password: "YOUR_WIFI_PASSWORD"
api_key: "YOUR_ESPHOME_API_ENCRYPTION_KEY"
ota_password: "YOUR_OTA_PASSWORD"
mqtt_host: "192.168.1.10"
mqtt_user: "faderbuddy"
mqtt_password: "CHANGE_ME"
